@font-face {
    font-family: '0xProto';
    src: url('../fonts/0xProto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --main-font: '0xProto', 'Microsoft YaHei', sans-serif !important;
}

* {
    font-family: var(--main-font) !important;
}